<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post <%= data._id %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/search.ejs') %> <%-
    include('../partials/navPartial.ejs') %>
    <div class="container mt">
      
        <h2><%= data.title %></h2>
        <p><%= data.body %></p>
        <div class="dates">
          <span>CreatedAt: <%= data.createdAt.toDateString() %></span>
          <span>UpdatedAt: <%= data.updatedAt.toDateString() %></span>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
